.pull-right{
  float: right;
}
.pull-left{
  float: left;}
.aligncenter{
  margin: auto;
  display: block;
}
.inner{padding:0 10px}
.inner.alpha{
  padding-left: 0;
}
.inner.omega{
  padding-right: 0;
}

.clear{clear: both}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.screen-reader-text {display: none}
