#wrapper {
  width: 100%;
  margin: auto;
  max-width: 1120px;
}

/* Header */
#header {
  border-bottom: solid 1px #EEE
}

#logo img,
#header h1 {
  float: left;
  display: inline-block;
}

#header h1 {
  margin-left: 10px;
  line-height: 1em;
  font-size: 2em
}

.container {
  padding: 40px 0
}

/* block */
.movie-block {
  float: left;
  width: 50%;;
  margin-bottom: 20px
}

.movie-block .content {
  border: solid 1px #CCC;
  border-radius: 5px
}

.poster {
  width: auto;
  margin-right: 10px;
  height: 200px;
}

.movie-block {
  h2 {
    line-height: 1.2em;
    margin: .5em 0;
    font-size: 1.2em
  }
  table {
    font-family: monospace, serif;
  }
  table td {
    vertical-align: text-top
  }
  tr td:first-child {
    text-align: right
  }

  footer {
    border-top: solid 1px #CCC;
    padding: 5px 10px;
    font-size: 12px
  }
}

#search {
  width: 600px;
  padding: 5px 2px;
  margin: 0 0 20px;
  border: solid 1px #CCC;
  background: #f6f6f6;
  max-width: 90%;
  @include border-radius(3px)

}

select {
  border: solid 1px #CCC;
  margin: 0 10px;
  font-size: 17px;

}

button,
.button{
  padding: 6px 10px 6px 36px;
  color: #FFF;
  border: none;

  background: #007AFF url("../assets/images/up.png") no-repeat 4px 50%;
  background-size: 24px;
  @include border-radius(3px)
}
button:hover,
.button:hover{
  color:#EEE;
  text-shadow: 1px 1px 1px #000;
}
.button{background-image: none;padding:6px 10px;margin-top:20px}
button.reverse {
  background: #007AFF url("../assets/images/down.png") no-repeat 4px 50%;
  background-size: 24px;
  display: inline-block;
}

a.genre:after {
  content: ", "
}

a.genre:last-child:after {
  content: "."
}

footer a{color: #231cff
}

@media only screen and (max-width: 960px) {

  /* block */
  #logo img{margin: auto;height: 80px;display: block;
    float: none;}
  #header h1{font-size: 1.2em;text-align: center;
    float: none;}
  .movie-block{width: 100%}
  .poster {
    width: 80px;
    height: auto;
  }

  select,button,#search{width:100%;margin: auto;margin: 10px 0;box-sizing: border-box}
  button{text-align: center}
  }
