.navigation{
  border-bottom: solid 1px #DDD;
  line-height:40px;
  ul{margin: 0;padding: 0}
  ul li{display: inline-block;float: left;height: 40px}
  ul li a{padding: 6px 10px}
  ul li{border-right: solid 1px #EEE}
  ul li:last-child{border:none}
}
