.pagination{
  text-align: center;
  margin-bottom: 2px;
  .nav-links{border:solid 1px #DDD;display: inline-block;border-radius: 5px}
  .page-numbers span{display: none}
  .page-numbers,
  .page-numbers a{display: inline-block}
  .page-numbers{border-right: solid 1px #DDD;padding:.1em .5em;float: left}
}
