@import "variables";
body{font:$base-font-size $body-font-stack;color: $dark-2;line-height: $base-line-height}
a{text-decoration: none;color:$dark-1}
a:hover{text-decoration: none;color:$primary}
h1,h2,h3,h4,h5,h6,.heading{
  font-family: $headings-font-stack;
  font-weight: 700;
  letter-spacing: -0.04em;
}
h1{
  font-size:2.75em;
  line-height: 1.182em;
  margin-bottom:.591em ;
}

