//Functions
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

///* Layout */
$site-width: 1200px;
$padding: 20px;
$vr: 26px; //vertical rhythm
$footer-columns: 4;
///* Typography */
$body-font-stack: serif, Garamond;
$body-font-stack: 'Open Sans', sans-serif;
$base-font-size: 17px;
$base-line-height: em(26);
$headings-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-stack: 'Open Sans', sans-serif;

//Colors
$primary: #007AFF;
$secondary: green;
$teritiary: blue;

// These are the dark colors we use
// darkness decreases as the number increases
$dark-1: #14141A;
$dark-2: #3D3D45;
$dark-3: #63636A;
$dark-4: #84848C;
//
//$dark-1: rgba(0, 0, 0, .90); //#000
//$dark-2: rgba(17, 17, 17, .90); //#111
//$dark-3: rgba(34, 34, 34, .90); //#222
//$dark-4: rgba(85, 85, 85, .90); //555
//$dark-4: rgba(145, 145, 145, .90);

/*
$dark-1: #191919 rgba(0, 0, 0, .90); //#000
$dark-2: #282828 rgba(17, 17, 17, .90); //#111
$dark-2: #383838 rgba(34, 34, 34, .90); //#222
$dark-3: #666666 rgba(85, 85, 85, .90); //555
$dark-4: #9c9c9c rgba(145, 145, 145, .90);
*/
// These are the shades (whites) we use
// White decreases as the number increases
$shade-1: #FFF;
$shade-2: #F2F1F6;
$shade-3: #ECECF1;
$shade-4: #e4e4eb;
$shade-5: #CFCFD8;
//
//$inverse: '';
//@if $inverse {
//  $dark-4: #FFF;
//  $dark-3: #FDFDFD;
//  $dark-2: #f7f7f7;
//  $dark-1: #D6DADD;
//
//  // These are the shades (whites) we use
//  // White decreases as the number increases
//  $shade-1: #000;
//  $shade-2: #434343;
//  $shade-3: #787878;
//  $shade-4: #A4A4A4;
//}
