<div class="container">
    <section style="width:600px;max-width: 90%;margin: auto;">
        <img src="{{vm.movie.poster}}" class="aligncenter" ng-if="vm.movie.poster">

        <div class="info" style="border-top:solid 2px #EEE;margin-top:20px">
            <h2><a ui-sref="details({id:movie.id})"> {{vm.movie.movie_title}}{{vm.move.title_year}}</a></h2>
            <table>
                <tr ng-if="vm.movie.language">
                    <td>Language:</td>
                    <td>{{vm.movie.language}}</td>
                </tr>
                <tr ng-if="vm.movie.director_name">
                    <td>Director:</td>
                    <td>{{vm.movie.director_name}}</td>
                </tr>
                <tr>
                    <td>Actors:</td>
                    <td>{{vm.movie.actor_1_name}},{{vm.movie.actor_2_name}}</td>
                </tr>
                <tr>
                    <td>Genres:</td>
                    <td><a ng-repeat="genre in vm.movie.genres"  ui-sref="home({genre:genre,page:0})"> {{genre}}, </a></td>
                </tr>
                <tr>
                    <td>Plot Keywords:</td>
                    <td><span ng-repeat="plot in vm.movie.plot_keywords"  > {{plot}}, </span></td>
                </tr>
                <tr ng-if="vm.movie.country">
                    <td>Country:</td>
                    <td>${{vm.movie.country}}</td>
                </tr>
                <tr ng-if="vm.movie.budget">
                    <td>Budget:</td>
                    <td>${{vm.movie.budget}}</td>
                </tr>


            </table>
            <br><a href="http://www.imdb.com/title/{{vm.movie.id}}/?ref_=fn_tt_tt_1" class="button">View on IMDB</a>
        </div>
    </section>

</div>
