<div class="container">

    <input type="text" placeholder="Search by movie name or genre" ng-model="vm.search" id="search">
    <select ng-model="vm.selectedGenre">
        <option selected="true" value="">Select a Genre</option>
        <option ng-repeat="genre in vm.genres" value="{{genre}}">{{genre}}</option>
    </select>
    <button ng-click="vm.toggleSortOrder()" ng-class="{reverse: vm.sortOrder}">Budget</button>
    <div class="clear"></div>
    <div class="">
        <section class="movie-block cf"
                 ng-repeat="movie in vm.movies| filter:vm.search | orderBy:budget:vm.sortOrder"
                 ng-if="$index > vm.start && $index <= vm.start+vm.perPage"
                 data-id={{movie.id}}
                 data-index={{$index}} in-view="ctrl.myDivIsVisible = $inview"
                 ng-class="{ isInView: ctrl.myDivIsVisible,noPoster:!vm.movies[$index].poster }">
            <div class="inner cf">
                <div class="content cf">
                    <img src="{{vm.movies[$index].poster}}" class="pull-left poster" ng-if="vm.movies[$index].poster">
                    <img src="assets/images/placeholder.jpg" class="pull-left poster" ng-if="!vm.movies[$index].poster">

                    <div class="info">
                        <h2><a ui-sref="details({id:movie.id})"> {{movie.movie_title}}{{move.title_year}}</a></h2>
                        <table>
                            <tr ng-if="movie.language">
                                <td>Language:</td>
                                <td>{{movie.language}}</td>
                            </tr>
                            <tr ng-if="movie.director_name">
                                <td>Director:</td>
                                <td>{{movie.director_name}}</td>
                            </tr>
                            <tr>
                                <td>Actors:</td>
                                <td>{{movie.actor_1_name}},{{movie.actor_2_name}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <footer class="cf">
                        <div class="">
                            <div class="pull-left">
                                Genres:
                                <td><a ng-repeat="genre in movie.genres" ui-sref="home({genre:genre,page:0})" class="genre">{{genre}}</a>
                                </td>
                            </div>
                            <div class="pull-right" ng-if="movie.budget">
                                Budget: ${{movie.budget}}
                            </div>
                        </div>
                    </footer>
                </div>

            </div>

        </section>
    </div>
    <div class="clear"></div>
    <nav class="navigation pagination" role="navigation">
        <h2 class="screen-reader-text">Posts navigation</h2>

        <div class="nav-links">
            <a class="page-numbers" ng-repeat="n in []|range:vm.pageCount"
               ui-sref="home({genre:vm.selectedGenre,page:$index})"><span
                    class="meta-nav screen-reader-text">Page </span>{{$index+1}}</a>
        </div>
    </nav>
</div>
